@model IEnumerable<ReelListingServiceModel>

@{
    ViewData["Title"] = "All";
}

<h2>All</h2>

<hr/>
<ul class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-area="Shop" asp-controller="Brands" asp-action="Index">Brands</a></li>
</ul>

<main>
    <div class="container">
        <div class="row">
            @foreach (var reel in Model)
            {
                <div class="col-12 text-center">

                    <h1 class="display-3">@reel.Model</h1>
                    <br/>

                    <img class="card-image-top img-fluid img-thumbnail"
                         src="data:image;base64,@Convert.ToBase64String(reel.Image)" style="height: 350px; width: 350px;" alt="@reel.Model">

                    <br />
                    <br/>
                    <p><strong>Price:</strong> - @reel.Price BGN</p>
                    <br/>
                    <a class="btn btn-primary"asp-area="Shop" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@reel.Id">Buy</a>
                    <hr />
                    <p><strong>Description:</strong> @reel.Description</p>
                    <hr />
                    <p><strong>Details:</strong> @reel.Details</p>
                    <hr />
                    <p><strong>Category:</strong> @reel.Category</p>
                    <hr />
                    <p><strong>@reel.Model</strong> added in our catalog on @reel.АddedOnDate.ToShortDateString()
                    </p>
                    <p>

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/@reel.VideoId" frameborder="0"
                                allowfullscreen></iframe>
                    </p>
                    <br/>
                    <br/>
                </div>
            }
        </div>
    </div>
</main>